:root {
  --color-green: #31c48d;
  --color-white: #fff;
  --color-dark-grey: #33333d;
  --color-medium-grey: #434350;
  --color-light-grey: #d2d6dc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: var(--color-medium-grey);
  color: var(--color-white);
}
